.banner {
  color: rgb(255, 255, 255);
  object-fit: contain;
  height: 100vh;
}

.banner-content {
  padding-left: 55px;
  padding-top: 35vh;
  height: 100vh;
  background-color: #090a0e60;
}

hr {
  margin-right: 50vw;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
}

.banner-description {
  width: 40vw;
  line-height: 1.3;
  /* padding-top: 0.5rem; */
  font-size: 1.2rem;
  font-weight: 400;
}

.banner-rank {
  color: #46d269;
}

.banner--fadeBottom {
  transform: translateY(-42.5vh);
  height: 15vh;
  background-image: linear-gradient(180deg, transparent, #090a0e, #090a0e60);
}
